$font-stack: "Avenir Next", "Avenir", sans-serif;
$font-title: monospace;

$back-color: rgb(255,255,255);
$fore-color: rgb(0,0,0);

$png-square: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;

* {
  box-sizing: border-box;
}

html {
  font-family: $font-stack;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
  /*  Generate tiny png square img 50x50 */
  background: $png-square;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite;
  /* Safari 4+ */
  -moz-animation: bg-scrolling-reverse 0.92s infinite;
  /* Fx 5+ */
  -o-animation: bg-scrolling-reverse 0.92s infinite;
  /* Opera 12+ */
  animation: bg-scrolling-reverse 0.92s infinite;
  /* IE 10+ */
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  line-height: 1.5;
}

[class*="col-"] {
  float: left;
  padding: 1rem;
}

header {
  background-color: $fore-color;
  color: $back-color;
  padding: 0;
  padding-left: 2px;
  margin: 0;
}

#logo {
  width: 15rem;
  height: 8rem;
}

#linkedin {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

#linkedin-cont {
  float: right;
}

#github-cont {
  float: right;
  background: #fff;
  margin-right: 2px;
  padding-top: 4px;
}

#github {
  width: 20px;
  height: 20px;
}

h1 {
  font-size: 2rem;
  float: left;
  margin-left: 4px;
}

a, a:visited, a:active {
  color: $fore-color;
  text-decoration: none;
  text-decoration: wavy;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

h1, h2, h3, h5, h5 {
  font-family: $font-title;
}

ul {
  list-style-type: none;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.aside {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
  font-size: 100%;
}

.aside h3 {
  text-align: center;
}

.menu li, .aside {
  box-shadow: 0 0.063rem 0.188rem $fore-color, 0 0.063rem 0.125rem $fore-color;
  color: $fore-color;
  background-color: $back-color;
}

footer {
  background-color: $fore-color;
  color: $back-color;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.025rem;
  margin-top: auto;
}

/* For desktop, even old ones like ie10: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 48rem) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 100%;
    height: 6.5rem;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 3.125rem 3.125rem;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 3.125rem 3.125rem;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 3.125rem 3.125rem;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 3.125rem 3.125rem;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 3.125rem 3.125rem;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 3.125rem 3.125rem;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 3.125rem 3.125rem;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 3.125rem 3.125rem;
  }
}

.centered {
  text-align: center;
}

.row::after {
  content: "";
  clear: both;
  display: block;
}

.is-hidden {
  display: none;
}

input, textarea {
  width: 100%;
}

textarea {
  margin-top: 2px;
  height: 4rem;
}

button {
  width: 100%;
  background: black;
  color: white;
  height: 2rem;
  font-size: 100%;
}

