* {
    box-sizing: border-box;
}
html {
    font-family: "Avenir Next", "Avenir", sans-serif;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
        repeat 0 0;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    animation: bg-scrolling-reverse 0.92s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    line-height: 1.5;
    font-size: 100%;
}

#heading {
    color: #fff;
    text-decoration: none;
}
a,
a:visited,
a:active {
    color: #fff;
}
a.blk,
a:visited.blk,
a:active.blk {
    color: #000;
    text-decoration: none;
}
.menu-item {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
h1,
h2,
h3,
h5,
h5 {
    font-family: monospace;
}
h1 {
    font-size: 2rem;
    float: left;
    margin-left: 0.5rem;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul li {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
.aside-content {
    padding: 0.6rem;
    padding-top: 0.1rem;
    font-size: 100%;
}
.aside-content h3 {
    text-align: center;
}
.menu li,
.aside-content {
    box-shadow:
        0 0.063rem 0.188rem #fff,
        0 0.063rem 0.125rem #fff;
    color: #fff;
    background-color: #000;
}
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 3.125rem 3.125rem;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 3.125rem 3.125rem;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 3.125rem 3.125rem;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 3.125rem 3.125rem;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 3.125rem 3.125rem;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 3.125rem 3.125rem;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 3.125rem 3.125rem;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 3.125rem 3.125rem;
    }
}
.centered {
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.blk {
    color: #000;
    text-decoration: none;
}
.is-hidden {
    display: none;
}
input[type="text"],
textarea,
input[type="email"],
button {
    width: 100%;
    box-sizing: border-box;
    display: block;
}
textarea {
    height: 5rem;
}
iframe {
    border: 0;
    width: 100%;
    height: 30rem;
}
.container {
    display: grid;
    grid-template-areas: "header header header" "nav content side" "footer footer footer";
    grid-template-columns: 20rem 1fr 20rem;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1ren;
    min-height: 100vh;
}
.aside {
    padding: 0.6rem;
    font-size: 100%;
}
.aside h2 {
    text-align: center;
}
.menu li,
.aside {
    box-shadow:
        0 0.063rem 0.188rem #fff,
        0 0.063rem 0.125rem #fff;
    color: #fff;
    background-color: #000;
}
header {
    background-color: #000;
    color: #fff;
    padding: 0.25rem;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}
nav {
    grid-area: nav;
    display: block;
    padding: 0.6rem;
}
main {
    grid-area: content;
    height: auto;
    padding: 0.6rem;
}
aside {
    grid-area: side;
    padding: 0.6rem;
}
footer {
    grid-area: footer;
    padding: 0.6rem;
    bottom: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
}
.centered {
    text-align: center;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.is-hidden {
    display: none;
}
@media (max-width: 48rem) {
    .container {
        grid-template-areas: "header" "nav" "content" "side" "footer";
        grid-template-columns: 1fr;
        grid-template-rows: auto minmax(18rem, auto) 1fr minmax(18rem, auto) auto;
    }
    #logo {
        margin-top: -8rem;
    }
    nav,
    aside {
        margin: 0;
    }

}

@property --a { /* must register --a to animate it */
	syntax: '<angle>';
	initial-value: 0deg;
	/* used only on pseudo, nowhere to be inherited, 
	 * better perf if set false, see 
	 * https://www.bram.us/2024/10/03/benchmarking-the-performance-of-css-property/ */
	inherits: false
}

.card {
	/* hide outer part of glow */
	overflow: hidden;
	/* needed for absolutely positioned pseudo */
	position: relative;
	/* adjust width as needed IF it's even necessary to set */
	width: Min(12.5em, 80vmin);
	/* adjust aspect-ratio OR height IF height not given by content */
	aspect-ratio: 1;
	/* round outer card corners */
	border-radius: .5em;
	
	/* text & layout styles below just for prettifying */
	place-self: center;
	place-content: center;
	padding: .5em;
	color: #ededed;
	font: clamp(0.25em, 2vw + 2vh, 2em) sans-serif;
	text-align: center;
	text-transform: uppercase;
	text-wrap: balance
}

.card::before {
	/* grid doesn't work for stacking when a stacked item is text node */
	position: absolute;
	/* place behind card content, so card text is selectable, etc */
	z-index: -1;
	/* best if inset is at least half the border-width with minus */
	inset: -1em;
	/* reserve space for border */
	border: solid 1.25em;
	border-image: 
		/* adjust gradient as needed, I just used a random palette */
		conic-gradient(from var(--a), #669900, #99cc33, #ccee66, 
				#006699, #3399cc, #990066, #cc3399, 
				#ff6600, #ff9900, #ffcc00, #669900) 1;
	/* blur this pseudo */
	filter: blur(.75em);
	/* tweak animation duration as necessary */
	animation: a 4s linear infinite;
	/* needed so pseudo is displayed */
	content: ''
}

/* animate --a from its initial-value 0deg to 1turn */
@keyframes a { to { --a: 1turn } }


/* prettifying and layout stuff, not needed for card glow part */
html, body, div { display: grid }

html { min-height: 100% }

body {
	background: /* just to illustrate card transparency */
		url(https://images.unsplash.com/photo-1729824346255-52a8f898fe84?w=1400) 
			50%/ cover #212121;
	/* darken image (multiplying its RGB channels with 
	 * those of background-color) for better text contrast */
	background-blend-mode: multiply
}
