* {
    box-sizing: border-box;
}

:root {
  --bg: #ffffff;
  --text: #000000;
}

/* Dark Mode override */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000000;
    --text: #ffffff;
  }
}

html { 
    min-height: 100%;
    padding: 0;
    margin: 0; 
    font-family: "Verdana", sans-serif; 
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a,
a:visited,
a:active {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    font-weight: bold;
}

.container {
    min-height: 100vh;
    padding: 0.5rem;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}

.icon {
      display: inline;
      height: 26px;
      width: 26px;
}

.no-decor, h1 a {
    text-decoration: none;
}


@media (max-width: 48rem) {
    .container {
	width: 100%;
    padding: 0.5rem;
    }
}

