body {
  padding-top: 0.6rem;
  background: #000;
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-animation: color_change 1s infinite alternate;
  -moz-animation: color_change 1s infinite alternate;
  -ms-animation: color_change 1s infinite alternate;
  -o-animation: color_change 1s infinite alternate;
  animation: color_change 1s infinite alternate;
  @-webkit-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-moz-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-ms-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@-o-keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
@keyframes color_change {
	from { background-color: blue; }
	to { background-color: red; }
}
}

section {
  background: #fff;
  color: #000;
  border-radius: 2rem;
  padding: 0.6rem;
  padding-top: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  min-width: 200px;
  max-width: 400px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
  font-size:3rem;
  text-align: center;
  margin-top: 0.6rem;
}

a, a:active, a:visited {
  color: red;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 14rem;
}


