@font-face {
  font-family: 'JetBrainsMono-Regular';
  src: url('JetBrainsMono-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono-Bold';
  src: url('JetBrainsMono-Bold.woff2') format('woff2');
  font-display: swap;
}

html { 
  font-family: "JetBrainsMono-Regular", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
}

fieldset {
  border: solid 0.15rem #000;
}

section {
  border:  solid 0.15rem#000;
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content content"
  "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 2fr auto;
  grid-gap: 0.2rem;
  min-height: 90vh;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 32rem;
  height: 20rem;
}

input {
  margin-bottom: 1rem;
  display: block;
  width: 90%;
}

legend {
  text-align:center;
}

a, a:visited, a:active {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 0rem;
  padding: 0;
  width: 16rem;
}

li {
  text-decoration: none;  
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border: 0.15rem solid #000;
}

h1 {
  font-family: "JetBrainsMono-Bold", sans-serif; 
  font-size: 3rem;
  margin: 0;
  padding-left: 1rem;
}

header {
  grid-area: header;
  height: 4rem;
  border-bottom: #000 0.15rem solid;
}

nav {
  grid-area: nav;
  display: block;
  padding: 2rem;
  margin-top: 0;
}

main {
    padding: 1rem;
    width: 40rem;
    margin-top: 1rem;
    grid-area: content;
}

form {
  margin-top: 0;
  padding: 0;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  
}

footer {
  grid-area: footer;
  padding: 0.5rem;
  text-align: center;
  border-top: 0.15rem solid #000;
}

.category {
  border: none;
  font-size: 1.2rem;
  border-bottom: #000 solid 0.15rem;
}

/* Fixed broken media query block syntax */
@media (max-width: 800px) {
  section {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "footer";
    grid-template-columns: auto;
    grid-template-rows: auto;
    border: none;
  }
  
  header {
    height: 2rem;
    border: none;
  }
  
  form {
    width: 91%;
    margin: 0;
  }

  input {
    margin-bottom: 2rem;
    height: 1rem;
  }
  
  h1 {
    font-size: 2.6rem;
  }

  header, footer, main, img, ul {
    width: 35rem;
    margin: 0;
    padding: 1rem;
    border: none;
  }
}

