body {
  padding-top: 0.6rem;
  background: #000;
  background-image: url('/bg.webp');
  background-position: top;
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

section {
  background: #000;
  color: #fff;
  border-radius: 2rem;
  padding: 0.6rem;
  padding-top: 0.3rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.6rem;
  min-width: 200px;
  max-width: 400px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

h1 {
  font-size:3rem;
  text-align: center;
  margin-top: 0.6rem;
}

a, a:active, a:visited {
  color: white;
}

p {
  margin-left: auto;
  margin-right: auto;
  width: 14rem;
}

@-webkit-keyframes slidein {
  from {background-position: top; background-size:3000px; }
  to {background-position: -100px 0;background-size:2750px;}
}

@keyframes slidein {
  from {background-position: top;background-size:3000px; }
  to {background-position: -100px 0;background-size:2750px;}
}
