<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" 
          content="Brian Redfern, Universal Life Minister, Divination Expert, Poet and Composer" 
        />
        <link rel="shortcut icon" href="/favicon.ico" />
        <title>Brian Redfern Divination and Web Development Blog.</title>
        <link rel="stylesheet" type="text/css" rel="preload" as="style" href="/site.css" onload="this.onload=null;this.rel='stylesheet'">
    </head>
    <body>
        <section>
            <header>
                <h1><a href="/">Brian Redfern</a></h1>
            </header>
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/poems">Poetry</a></li>
                <li><a href="/blog/diary">Diary</a></li>
                <li><a href="/blog/stories">Stories</a></li>
                <li><a href="/blog/tarot">Readings</a></li>
                <li><a href="/blog/songs">Songs</a></li>
              </ul>
            </nav>
            <main>
                <div>
                  <a href="/"><img src="/me.svg" alt="logo" id="logo" loading="lazy"></a>
                </div>
                <div id="middle-menu">
                  <a href="/">Home</a>
                  <a href="/blog/poems">Poetry</a>  
                  <a href="/blog/diary">Diary</a>
                  <a href="/blog/stories">Stories</a>
                  <a href="/blog/tarot">Readings</a>
                  <a href="/blog/songs">Songs</a>
                </div>
                <div>{% block content %} {% endblock %}</div>
            </main>
            <aside> 
              <form action="https://formsubmit.co/brianwredfern@gmail.com" method="POST">
                <fieldset>
                  <legend><h2>Get a Tarot Reading</h2></legend>
                  <label for="name">Name <input type="text" name="name" /></label>
                  <label for="email">Email <input type="email" name="email" /></label>
                  <div><input type="submit"></div>
                </fieldset>
              </form>
            </aside>
            <footer><h3>&#169; 2026 Brian Redfern</h3></footer>
        </section>
    </body>
</html>
