{% extends "base.html" %}
{% block content %}
<h1>Welcome to my web site</h1>
<p>
Hi there, my name is Brian, I have been making art since 1974, making music since 1986 and working with web/ui design and SEO since 1995.
</p>
<p>
I had my first poem publshed in an academic journal when I was 15 years old. I got my MFA in writing in 1998. However poetry isn't that lucritive despite
my mentor having been Quincy Troupe, Fat Mike said do song writing, which was a good idea in 1991 however today it seems like AI is about to eat music.
</p>
<p>
I do not think it can replace real poetry and real songs because its too tightly controlled and too tightly trained.
</p>
<p>
But can it code? Yes it does appear it can but can it give you excellent SEO? Something as fast and optimized as this website?
</p>
{% endblock content %}
