{% extends "base.html" %}
{% block content %}
<h2>Welcome to my Site</h2>
<p>
I am a designer, developer and musician. I specialize in 0 or near 0 dependency web development, Considered a dead artform in the brutal
drive to make everything use React. I know, web components are class based but when using a very minimal framework like lit even so they're a very powerful tool because of this. Often in react and vue people hardly ever use the component props and often use global state management instead.
</p>

<p>
Both react and vue are much slower than lit or than using just css3 and html. Often 90% of the web app can be done with html and css or sass and then the other 10% can be done with per page code.
</p>

<p>
Lit really comes in when you want to build a SPA without sending 100 megs of content down to the user.
</p>

<p>
I work hard to keep things as small as the limit I used in 1998 - 26k.
</p>
{% endblock content %}
