{% extends "base.html" %}
{% block content %}
<h1>Brian Redfern</h1>
<p>
  <picture>
    <source media="(min-width:200px)" srcset="/redfern-small.webp">
    <source media="(min-width:650px)" srcset="/redfern-large.webp">
    <img src="/redfern.webp" alt="My Face" style="width:80%;">
  </picture>
</p>
<p>
I am a designer, developer and musician.
</p>
<p>
Check out my music  <a href="https://hyperfollow.com/brianredfern">links page</a>.
</p>
<p>
Take a look at my  <a href="https://github.com/bredfern">Github page</a>.
</p>
<p>
Connect with me on <a href="https://www.linkedin.com/in/bredfern/">Linkedin</a>.
</p>
{% endblock content %}
